# KiCad project files
*.pro
*.sch
*.kicad_pcb
*.bak

# KiCad backup files
*.kicad_pcb-bak
*.kicad_pcb-bak[0-9]

# KiCad gerber files
*.drl
*.gbr
*.cnc
*.gm1
*.gm1

# KiCad footprint libraries
*.pretty

# KiCad 3D model files
*.kicad_wrl
*.kicad_mod
